<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div>
		<form action="/loginSubmit" method="POST">
			login:<input name="login"/>
			<br/>
			pwd: <input type="password" name="password"/>
			<input type="submit" name="go"/>
		</form>
		<a href="/register">Register<a/>
	</div>
  </body>
</html>
