<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My forms</h1>
    <% for(var i = 0; i < availableForms.length; i++) { %>
		<div>
			<a href="/fillForm?formID=<%= availableForms[i].id %>" >
				<%= availableForms[i].name %>
			</a>
		</div>
	<% } %>
  </body>
</html>
