<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
	<div>
		<form action="/
		" method="POST">
			<%= lang.getVaue("login") %>:<input name="login"/>
			<br/>
			pwd: <input type="password" name="password"/>
			<br/>
			pwd: <input type="password" name="password2"/>
			<input type="submit" name="go"/>
		</form>
	</div>
  </body>
</html>
